body {
    margin: 25px;

    background: $background-light-blue;  /* fallback for old browsers */
    background: linear-gradient(to right, $background-dark-blue, $background-light-blue); 
  color: $yellow;

}

@media (max-width: 768px) {
  body {
    margin: 5px;
  }
}



label.btn,
.score-text > span
{
  text-transform: capitalize;
}


h1 {
	font: 72px 'Audiowide', cursive;
  color: $yellow;
}

h2 {
	font: 24px 'Josefin Slab', serif;
  color: $yellow;
}

hr.style-rainbow {
  margin-left: 25px;
  margin-right: 25px;
  border: 0;
  height: 4px;
  background: linear-gradient(90deg, $red 0%, $yellow 25%, $green 50%, $blue 75%, $indigo 100%);
  // https://coolors.co/ef476f-ffd166-06d6a0-118ab2-073b4c
}

// https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500

div.card-back {
  display: inline-block;
  background-color: $pink;
  margin: 5px 5px 5px 5px;
  padding: auto auto auto auto;
}
div.card-cover {
    background-color: $green;

}

#gameDifficulty {
  padding: 15px 15px 15px 15px;
}

.gamecard-enter, 
.gamecard-enter-active, 
.gamecard-enter-to, 
.gamecard-leave
.gamecard-leave-active, 
.gamecard-leave-to {
  transition: all 1s ease;
}

small.robohash {
  color: $robohash;
}

p.cardImageFallback {
    position: absolute;
  	font: 3em 'Audiowide', cursive;
    margin: auto auto auto auto;
}

